body
        {
         max-width: 960px;
         margin: 0 auto;
        }
        h1 
        {
         margin: 15px;
         color: gray;
         font-size: 200%;
         text-align: center;
         border: 1px solid black;
         background: pink;
         width: 100%;
        }
        footer.foot
        {
         border: 1px solid black;
         background: black;
         color: gray;
         width: 100%;
         height: 120px;
        }
